NAME_PHP=php_apache

NAME_MYSQL_LOGIN=db_phplogin
NAME_MYSQL_SHOP=db_shop
NAME_MYSQL_WEBSEC=db_websec

NAME_PMA_LOGIN=phpmyadmin_phplogin
NAME_PMA_WEBSEC=phpmyadmin_websec
NAME_PMA_SHOP=phpmyadmin_shop

VERSION_PHP=7.3-apache
VERSION_MYSQL=5.7.30

MYSQL_DATABASE_1=phplogin
MYSQL_USER_1=phplogin
MYSQL_PASSWORD_1=6Zhn5Tgb
MYSQL_ROOT_PASSWORD_1=root

MYSQL_DATABASE_2=websec
MYSQL_USER_2=websec
MYSQL_PASSWORD_2=S0s3zwo9z3hn
MYSQL_ROOT_PASSWORD_2=root

MYSQL_DATABASE_SHOP=shop
MYSQL_USER_SHOP=shop
MYSQL_PASSWORD_SHOP=shop
MYSQL_ROOT_PASSWORD_SHOP=root